@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: rgb(15 23 42); /* slate-900/950 계열 */
  color: rgb(248 250 252); /* slate-50 */
}

* {
  box-sizing: border-box;
}
